<header class="glass-header">

    <div class="glass-header-wrapper">

		{{#if posts}} <!-- if homepage -->
            <h1 class="glass-headline">{{@blog.title}}</h1>
            {{#if @blog.description}}
		        <p class="glass-blog-description" id="#subtitle">{{@blog.description}}</p>
		    {{/if}}
	    {{else}}{{#if page}} <!-- if static page -->
		    <h1 class="glass-headline" itemprop="headline">{{title}}</h1>
		{{else}} <!-- if post -->
	        <h1 class="glass-headline" itemprop="headline">{{title}}</h1>
        {{/if}}{{/if}}

    </div>

    <a class="glass-scroll-button" href="#glass-page-body"></a>
</header>
