<nav class="pagination" role="navigation">

    {{#if prev}}
        <a class="newer-posts button-dark" href="{{page_url prev}}">&lArr; Newer Posts</a>
    {{else}}
    	<a class="newer-posts button-dark hidden" href="">&lArr; Newer Posts</a>
    {{/if}}

    <span class="page-number">Page {{page}} of {{pages}}</span>

    {{#if next}}
        <a class="older-posts button-dark" href="{{page_url next}}">Older Posts &rArr;</a>
    {{else}}
        <a class="older-posts button-dark hidden" href="">Older Posts &rArr;</a>
    {{/if}}
    
</nav>