<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{meta_description}}">

    {{! Page Meta }}
    <title>
        {{#if posts}}
            {{@blog.title }} | {{@blog.description}}{{#if pagination.prev}} | Page {{pagination.page}}{{/if}}
        {{else}}
            {{post.title}} | {{@blog.title}}
        {{/if}}
    </title>
    

    {{! Styles }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic|Roboto+Slab:300' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="{{asset "images/favicon.ico"}}">

    {{! Responsive Meta Tags }}
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {{ghost_head}}
    {{! Google Analytics }}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-53148902-1', 'auto');
        ga('send', 'pageview');
    </script>
    {{! End Google Analytics }}
</head>
<body class="{{body_class}}">
    <img class="glass-loading" src="{{asset "images/loading.gif"}}">
    {{> navigation}}

    <div id="glass-ajax-container">
        {{{body}}}
        {{> footer}}
    </div>

    {{ghost_foot}}

    {{! Glass scripts}}
    <script src="{{asset "js/min/scripts-min.js"}}"></script>
    {{! Mathjax configuration}}
    <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax:{inlineMath:[["$","$"],["\\(","\\)"]]},"HTML-CSS":{scale:90,styles:{".MathJax":{"background-color":"#f5f2f0",padding:"2px 4px"},".MathJax nobr":{position:"relative",top:"-2px",left:"4px"}}}});</script>
</body>
</html>