{{!< default}}

<div id="glass-main">

{{#post}}

    <article class="glass-post" role="article" itemscope itemtype="http://schema.org/Article">

        {{> header}}

        <section class="glass-page-body-container glass-post-body cf" itemprop="articleBody">
            <div class="glass-wrapper" id="glass-page-body">

                <div class="glass-post-content">
                    <div class="glass-date">Posted on: <time datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">{{date format='MMMM DD, YYYY'}}</time></div>
                    {{content}}
                </div>

                {{#if tags}}
                    <div class="glass-tags">
                        Tags: {{tags separator=" &middot; "}}
                    </div>
                {{/if}}

            </div>
        </section>

        {{#if pagination}}
            <div class="glass-pagination">
                {{{pagination}}}
            </div>
        {{/if}}

    </article>
</div>

{{/post}}